<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html"><i class="fa fa-home text-danger"></i> Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/founding-generations.html"><i class="fa fa-book text-danger"></i> Book</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/#Blog"><i class="fa fa-pencil-alt text-danger"></i> Blog</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/research-group.html"><i class="fa fa-microscope text-danger"></i> Research Group</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about-me.html"><i class="fa fa-user text-danger"></i> About Me</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html"><i class="fa fa-address-book text-danger"></i> Contact</a>
</li>
